In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
def load_data():
    """Load data from the CSV files referundum/regions/departments."""
    referendum = pd.read_csv('./data/referendum.csv', sep=";")
    regions = pd.read_csv('./data/regions.csv', sep=",")
    departments = pd.read_csv('./data/departments.csv', sep=',')

    return referendum, regions, departments

In [3]:
referendum, regions, departments = load_data()

In [4]:
def merge_regions_and_departments(regions, departments):
    """Merge regions and departments in one DataFrame.

    The columns in the final DataFrame should be:
    ['code_reg', 'name_reg', 'code_dep', 'name_dep']
    """

    dep = departments.set_index('id').rename(columns={'code': 'code_dep', 'region_code': 'code_reg', 'name': 'name_dep'}).drop(columns=['slug'])
    reg = regions.set_index('id').rename(columns={'code': 'code_reg', 'name': 'name_reg'}).drop(columns=['slug'])
    return dep.merge(reg, on='code_reg', how='left')

In [5]:
regions_and_departments = merge_regions_and_departments(regions, departments)

In [ ]:
def merge_referendum_and_areas(referendum, regions_and_departments):
    """Merge referendum and regions_and_departments in one DataFrame.

    You can drop the lines relative to DOM-TOM-COM departments, and the
    french living abroad.
    """

    return pd.DataFrame({})

In [6]:
regions_and_departments.head(3)

  code_reg code_dep name_dep              name_reg
0       84       01      Ain  Auvergne-Rhône-Alpes
1       32       02    Aisne       Hauts-de-France
2       84       03   Allier  Auvergne-Rhône-Alpes

In [10]:
referendum.rename(columns={'Department code': 'code_dep', 'Department name': 'name_dep'})

,code_dep,name_dep,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
0,1,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345
1,1,AIN,2,L'Abergement-de-Varey,215,36,5,66,108
2,1,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664
3,1,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684
4,1,AIN,6,Ambléon,105,17,1,35,52
...,...,...,...,...,...,...,...,...,...
36786,ZZ,FRANCAIS DE L'ETRANGER,7,Europe centrale,89643,54981,318,17055,17289
36787,ZZ,FRANCAIS DE L'ETRANGER,8,"Europe du Sud, Turquie, Israël",109763,84466,292,9299,15706
36788,ZZ,FRANCAIS DE L'ETRANGER,9,Afrique Nord-Ouest,98997,59887,321,22116,16673
36789,ZZ,FRANCAIS DE L'ETRANGER,10,"Afrique Centre, Sud et Est",89859,46782,566,17008,25503
36790,ZZ,FRANCAIS DE L'ETRANGER,11,"Europe de l'est, Asie, Océanie",80061,42911,488,13975,22687